.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(186, 233, 217);
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 140px;
}

.header img {
    height: 100px;
}

.nabvar {
    display: flex;
}

.nabvar a {
    text-decoration: none;
    margin-left: 36px;
    font-size: 17px;
}

.nabvar a:hover {
    text-decoration: underline;
    background-color: white;
}